<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Deal Example</title>
    </head>
    <body>
        <div test="${not empty param.error}">
            Invalid username and password.
        </div>
        <div test="${not empty param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/user/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div>
                <input type="submit" value="Sign In"/>
                <input type="button" value="Join" href="@{/join}"/>
            </div>
        </form>
    </body>
</html>